h1{
    text-align: center;
    color: rgb(43, 139, 139);
    font-family: Algerian;
    font-size: 40;
    font-weight: bolder;
    text-shadow: 40px black;
    
}


img{
    box-shadow: 3px 2px 5px black;
}

body    {
    background-image: url("background.jpeg");
    background-color: #cccccc;

}

.grid img {
    border: 2px solid black;
    border-radius: 10px;
  }

.header{
    display:flex;
    justify-content: space-between;
}

.grid{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.footer{
    display: flex;
    justify-content: flex-end;

}

/*{
    border: solid;
    border-radius: 5%;
}*/

